

<div class="title_container">
  <div >
      <h2 class="h1">Login</h2>
  </div>
  <div>
    <div class="login_form">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "Email" %>
        <br />
        <br />
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "Password" %>
        <br />
        <br />
        <%= f.submit "Log in", :class => 'btn'%>
      <% end %>


      <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
    </div>
  </div>
</div>
