<div class="h1 center user_title">KARMACONOMY</div>

<div class="h2 center login_heading">Login</div>

<div class="container login_form">
  <div class="clearfix mxn2">
    <div class= "col-4 px2 mx-auto m3 bg-white profile_form">
      <div class="login_form">
        <%= form_for(:session, url: login_path) do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'block col-12 mb1 field'  %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'block col-12 mb1 field'  %>

          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
      </div>
      <br />
      <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
    </div>
  </div>
</div>
