
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
      <%= pluralize(@user.errors.count, "error") %>.
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
      <% end %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <br />
      <br />
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <br />
      <br />
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br />
      <br />
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br />
      <br />
      <%= f.label :postcode %>
      <%= f.number_field :postcode, class: 'form-control' %>
      <br />
      <br />
      <%= f.label :biography %>
      <%= f.text_field :biography, class: 'form-control' %>
      <br />
      <br />
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
      <br />
      <br />
      <%= f.label :image %>
      <%= f.url_field :image, class: 'form-control' %>
      <br />
      <br />
      <%= f.submit "Create my account", class: "btn" %>
    <% end %>
