
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
      <%= pluralize(@user.errors.count, "error") %>.
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>

      <% end %>

      <fieldset>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :postcode %>
      <%= f.number_field :postcode, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :biography %>
      <%= f.text_field :biography, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :image %>
      <%= f.url_field :image, class: 'form-control' %>
      </fieldset>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>



<!-- <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@user.errors.count, "error") %>.
          </div>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :postcode %>
      <%= f.number_field :postcode, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :biography %>
      <%= f.text_field :biography, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
      </fieldset>

      <fieldset>
      <%= f.label :image %>
      <%= f.url_field :image, class: 'form-control' %>
      </fieldset>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div> -->
