<h1><%= @user.username %></h1>

<li><%= image_tag(@user.image, :class => 'feature') %></li>
  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Biography: <%= @user.biography %></li>
    <li>Postcode: <%= @user.postcode %></li>
    <li>Email: <%= @user.email %></li>
    <li>Karma: <%= @user.karma %></li>
  </ul>

<%= link_to 'Edit profile', edit_user_path(@user) %>
<%= link_to 'Delete profile', @user, :method => :delete %>
