<h1><%= @user.username %></h1>

<li><%= image_tag(@user.image, :class => 'feature') %></li>
  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Biography: <%= @user.biography %></li>
    <li>Postcode: <%= @user.postcode %></li>
    <li>Email: <%= @user.email %></li>
    <li>Karma: <%= @user.karma %></li>
  </ul>

<%= link_to 'Edit profile', edit_user_path(@user) %>
<%= link_to 'Delete profile', @user, :method => :delete %>

<h2>Deeds</h2>

<% user = User.find_by(id: current_user.id) %>
<% Order.all.each do |order| %>
  <% if order.user_id == user.id %>
    <% deed = Deed.find_by(id: order.deed_id) %>
    <h3><%= link_to(deed.title, deed_path(deed)) %></h3>
    <p><%= deed.description%></p>
    <%= link_to 'Edit deed', edit_deed_path(deed) %>
    <%= link_to 'Delete deed', deed, :method => :delete %>
    <p>------------------</p>
  <% end %>
<% end %>
