<head>
  <div class="relative">
    <div class="fixed top-0 left-0 right-0 p2">
      <% if logged_in? %>
        <%= link_to "HOME", root_path %>
        <%= link_to "PROFILE", current_user %>
        <%= link_to "ALL DEEDS", deeds_path %>
        <%= link_to "NEW DEED", new_deed_path %>
        <%= link_to "LOG OUT", logout_path, method: "delete" %>
      <% else %>
        <%= link_to "HOME", root_path %>
        <%= link_to "DEEDS", deeds_path %>
        <%= link_to "LOGIN", login_path %>
        <%= link_to "SIGN UP!", signup_path %>
      <% end %>
    </div>
  </div>

<div class="title_container">
  <h1 class"h1 user_name><%= @user.username %></h1>
</div>
</head>

<li><%= image_tag(@user.image, :class => 'feature') %></li>
  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Biography: <%= @user.biography %></li>
    <li>Postcode: <%= @user.postcode %></li>
    <li>Email: <%= @user.email %></li>
    <li>Karma: <%= @user.karma %></li>
  </ul>

<%= link_to 'Edit profile', edit_user_path(@user) %>
| <%= link_to 'Delete profile', @user, :method => :delete %>

<% if current_user.admin? && current_user.present? %>
  | <%= link_to 'All users', users_path %>
<% end %>

<h2>Deeds</h2>

<% user = User.find_by(id: current_user.id) %>
<% Order.all.each do |order| %>
  <% if order.user_id == user.id %>
    <% deed = Deed.find_by(id: order.deed_id) %>
    <h3><%= link_to(deed.title, deed_path(deed)) %></h3>
    <p><%= deed.description%></p>
    <%= link_to 'Edit deed', edit_deed_path(deed) %>
    <%= link_to 'Delete deed', deed, :method => :delete %>
    <p>------------------</p>
  <% end %>
<% end %>
