<div class="h1 center user_title">KARMACONOMY</div>

<section class="container px1 py3">
  <div class="clearfix mxn2 profile_content">
    <div class="sm-col sm-col-4 md-col-3 sm-show profile_content">
      <ul class="list-reset">
        <li class="profile_pic">
          <% if @user.image == nil %>
            <%= image_tag "admin_pic.jpg" %>
          <% else %>
            <%= image_tag(@user.image, :class => 'feature') %></li>
          <% end  %>
        <li><%= @user.name %></li>
        <li>Postcode: <%= @user.postcode %></li>
        <li><%= @user.email %></li>
        <%= link_to 'Edit profile', edit_user_path(@user), :class => "profile_links" %>
        <br />
        <%= link_to 'Delete profile', @user, :method => :delete, :class => "profile_links" %>
        <br />
        <% if current_user.admin? %>
          <%= link_to 'All users', users_path, :class => "profile_links" %>
          <br />
          <%= link_to 'All categories', categories_path, :class => "all_categories" %>
        <% end %>

      </ul>
    </div>
    <div class="sm-col sm-col-8 md-col-9 px2">
      <div>
        <h3 class="h3 profile_sub_heading">About <%= @user.username %></h3>
        <p><%= @user.biography %></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem unde eius voluptates, rerum commodi magnam voluptas deserunt atque provident consequuntur eligendi iure ducimus eaque nostrum, libero a accusamus! Eum, laboriosam!</p>
      </div>
      <div>
        <h3 class="h3 profile_sub_heading">Karma: <%= @user.karma %></h3>
      </div>
    </div>
  </div>
</section>
<section class="container clearfix mxn3">
  <div class="">
    <h3 class="h3 center deed_heading">YOUR DEEDS</h>
  </div>
  <% user = User.find_by(id: current_user.id) %>
  <% Order.all.each do |order| %>
    <% if order.user_id == user.id %>
      <% deed = Deed.find_by(id: order.deed_id) %>
      <div class="col md-col-3 px1 center">
        <div class="p2 bg-white border rounded deed_links">
          <% if deed.image == nil %>
            <%= image_tag "admin_pic.jpg" %>
          <% else %>
            <%= cl_image_tag(deed.image, :width => 180, :height => 180, :crop => :fill, :class => 'feature center') %>
          <% end  %>
          <h1 class="h2 mt0 center deed_box_title"><%= link_to(deed.title, deed_path(deed)) %></h1>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
