<div class="center px2 py4 page_header">
    <h1 class="h0-responsive caps mt4 mb0 regular main_title">KARMACONOMY</h1>
    <p class="h3 sub_title bold">Together let's make the world a better place.</p>
    <%= link_to "Sign up!", signup_path, :class => "h3 btn btn-primary mb4" %>
</div>
<body>
  <div class="container center about_content">
    <div class="clearfix bold">
      <h2 class="h2 how_it_works">How Karmoconomy Works</h2>
      <p class="h3 main_content">Karmaconomy is about sharing goods and helping others through Karma 'transactions'. At Karmaconomy we are passionate about making the world a better place. Through sharing goods and services, we as a society can reduce consumption and help save our precious planet. Karmaconomy's sharing model brings people together and helps build happier and more connected communities.</p>
      <p class="h3 main_content">When you sign up to Karmaconomy you will automatically receive 10 karma to get started. You can acquire and give karma through deeds. To earn karma, find a deed that you would like to perform in the deeds list and click 'accept'. Once the deed is completed the karma will be transferred to you. If you would like to create a deed, click 'new deed' in the navigation bar and complete the form. It is up to you to decide the karma value of the deed. You must inform Karmaconomy when the deed is completed.</p>
    </div>
  </div>


  <div class="clearfix mxn2 boxes">
    <div class="col-9 px2 mx-auto">
      <div class="clearfix mxn2">
        <div class= "col col-4" >
          <div class= "bgimg" style="background-image: url(<%= image_path 'mine_yours_ours.png' %>);">
            <h2 class='tiles'>
            </h2>
          </div>
        </div>
        <div class= "col col-4" >
          <div class= "bgimg" style="background-image: url(<%= image_path 'tools_fix_it.jpg' %>);">
            <h2 class='tiles'>
              Fix it
            </h2>
          </div>
        </div>
        <div class= "col col-4" >
          <div class= "bgimg" style="background-image: url(<%= image_path 'camera_borrow_it.jpg' %>);">
            <h2 class='tiles'>
              Borrow it
            </h2>
          </div>
        </div>
      </div>
      <div class="clearfix mxn2">
        <div class= "col col-4" >
          <div class= "bgimg" style="background-image: url(<%= image_path 'pool_use_it.jpg' %>);">
            <h2 class='tiles'>
              Use it
            </h2>
          </div>
        </div>
        <div class= "col col-4" >
          <div class= "bgimg" style="background-image: url(<%= image_path 'walk_dog_do_it.jpg' %>);">
            <h2 class='tiles'>
              Do it
            </h2>
          </div>
        </div>
        <div class= "col col-4" >
          <div class= "bgimg" style="background-image: url(<%= image_path 'furniture_have_it.jpg' %>);">
            <h2 class='tiles'>
              Have it
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
