<div class="container">
  <div class="clearfix mxn2">
    <div class= "col-4 px2 mx-auto m3 bg-white profile_form">
      <%= form_for(@deed, :html => {:multipart => true}) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'block col-12 mb1 field' %>

        <%= f.label :description %>
        <%= f.text_field :description, class: 'block col-12 mb1 field' %>

        <%= f.label :postcode %>
        <%= f.number_field :postcode, class: 'block col-12 mb1 field' %>

        <%= f.label :date %>
        <%= f.text_field :date, class: 'block col-12 mb1 field' %>

        <%= f.label :karma %>
        <%= f.number_field :karma, class: 'block col-12 mb1 field' %>

        <%= f.label :category %>
        <br />
        <%= f.collection_select :category_id, @categories, :id, :title, include_blank: true, class: 'block col-12 mb1 field' %>
        <br />
        <br />

        <%= f.label :image %>
        <br />
        <%= f.cl_image_upload :image, class: 'block col-12 mb1 field' %>

        <br />
        <br />

        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
