<div class="relative">
<div class="fixed top-0 left-0 right-0 p2 white bg-black">
  <% if logged_in? %>
    <%= link_to "HOME", root_path %>
    <%= link_to "PROFILE", current_user %>
    <%= link_to "ALL DEEDS", deeds_path %>
    <%= link_to "NEW DEED", new_deed_path %>
    <%= link_to "LOG OUT", logout_path, method: "delete" %>
  <% else %>
    <%= link_to "HOME", root_path %>
    <%= link_to "DEEDS", deeds_path %>
    <%= link_to "LOGIN", login_path %>
    <%= link_to "SIGN UP!", signup_path %>
  <% end %>
</div>
</div>
<h2>DEEDS</h2>
<% @deeds.each do |deed| %>
  <hr />
  <%= link_to(deed.title, deed_path(deed)) %>
  <p><%= deed.postcode %></p>
  <p><%= deed.description %></p>
<% end %>
