<div class="h1 center user_title">KARMACONOMY</div>
<section class="container deed_profile px1 py3">
  <!-- <div class="h1 center">Karmaconomy</div> -->
  <div class="clearfix mxn2 deed_content">
    <div class="sm-col sm-col-4 md-col-3 sm-show">
      <ul class="list-reset">
        <li><%= cl_image_tag(@deed.image, :width => 200, :height => 200, :crop => :fill, :class => 'feature') %></li>
        <% order = Order.find_by(deed_id: @deed.id) %>
        <li>Postcode: <%= @deed.postcode %></li>
        <li>Date: <%= @deed.date %></li>
        <li>Deed type: <%= @deed.deed_type %></li>
        <% status = get_order_status(order) %>
        Status: <%= status %>
        <% if logged_in? %>
          <% if status == "Available" %>
            <% if deed_belongs_to_logged_in_user?(@deed) %>
              <li class="edit_deed_link"><%= link_to 'Edit', edit_deed_path(@deed) %></li>
              <li class="delete_deed_link"><%= link_to 'Delete', @deed, :method => :delete %></p></li>
            <% else %>
              <%= form_tag accept_deed_path do %>
                <%= submit_tag "Accept!" %>
              <% end %>
            <% end %>
          <% end %>
          <% if status == "Accepted" && deed_belongs_to_logged_in_user?(@deed) %>
            <%= form_tag deed_completed_path do %>
              <%= submit_tag "Complete?", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="sm-col sm-col-8 md-col-9 px2">
      <div>
        <h3 class="h3 deed_sub_heading"><%= @deed.title %></h3>
        <p><%= @deed.description %></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem unde eius voluptates, rerum commodi magnam voluptas deserunt atque provident consequuntur eligendi iure ducimus eaque nostrum, libero a accusamus! Eum, laboriosam!</p>
      </div>
      <div>
        <h3 class="h3 deed_sub_heading">Karma: <%= @deed.karma %></h3>
        <% (1..@deed.karma).each do %>
          <%= image_tag "karma_icon.png" %>
        <% end  %>
      </div>
    </div>
  </div>
</section>
