

<h1><%= @deed.title %></h1>

<li><%= image_tag(@deed.image, :class => 'feature') %></li>
  <ul>
    <li><%= @deed.description %></li>
    <li><%= @deed.postcode %></li>
    <li><%= @deed.date %></li>
    <li><%= @deed.karma %></li>
    <li><%= @deed.deed_type %></li>
  </ul>

<% order = Order.find_by(deed_id: @deed.id) %>
<% status = get_order_status(order) %>

<p>Status: <%= status %></p>

<% if logged_in? %>
  <% if status == "Available" %>
    <% if deed_belongs_to_logged_in_user?(@deed) %>
      <%= link_to 'Edit', edit_deed_path(@deed) %>
      <%= link_to 'Delete', @deed, :method => :delete %>
    <% else %>
      <%= form_tag accept_deed_path do %>
        <%= submit_tag "Accept!" %>
      <% end %>
    <% end %>
  <% end %>
  <% if status == "Accepted" && deed_belongs_to_logged_in_user?(@deed) %>
    <%= form_tag deed_completed_path do %>
      <%= submit_tag "Completed!" %>
    <% end %>
  <% end %>
<% end %>
