<h1><%= @deed.title %></h1>

<li><%= image_tag(@deed.image, :class => 'feature') %></li>
  <ul>
    <li><%= @deed.description %></li>
    <li><%= @deed.postcode %></li>
    <li><%= @deed.date %></li>
    <li><%= @deed.karma %></li>
    <li><%= @deed.deed_type %></li>
  </ul>
<p>A button to accept</p>
